#parent{
    
    width: 1500px;
    /* flex-direction: row; */
}

.maindiv{
    display:flex;
    width: 1500px;
    margin-left:-8px;
}

.fir{
    height: 45px;
    background: rgb(245, 245, 245);
    margin-top: -7px;
    
    
}

#acc{
    
    margin-left: 1250px;
    margin-top: 10px;

}

img:first-of-type{
    padding: 40px;
}

.sec{
    height:150px;
    background: white;
}

.thir{
    display: flex;
    height: 700px;
    background: rgb(58, 58, 58);
}

.innerthird{
    /* display: flex; */
    width: 400px;
    height: 450px;
    background-color: white;
    margin-left: 250px;
    margin-top: 50px;
    border-radius: 5px;
    
    
}

.third{
    margin-left:8px;
}

#account{
    margin-top: 20px ;
    margin-left: 120px;
}

#log{
    margin-top: 50px;
    margin-left: 150px;
}

.maintext{
    margin-left: 50px;
    
}

#maintext2{
    margin-left: 30px;
}

.name{
    display: inline-block;
    
}

i:first-of-type{
    color: #51608c;
}

.box1{
    margin-top: -20px;
}

.user{
    width: 270px;
    padding: 10px;
    border-radius: 5px;
    margin-top: 2px;
}

.col{
    color: rgb(81, 96, 140);
    font-size: 18px;
}

.but{
    margin-left: 100px;
    margin-top: 40px;
}

#but2{
    margin-left: 100px;
    margin-top: 155px;
}

#log2{
    padding:12px 75px;
    background: rgb(240, 191, 91);
    border-radius: 5px;
    font-size: larger;
    border:solid green 1px;
}

#log3{
    padding:12px 20px;
    background: rgb(240, 191, 91);
    border-radius: 5px;
    font-size: larger;
    border:solid green 1px;
}

.innertext2{
    margin-left: 30px;
}

.innertext2:nth-of-type(3){
    /* text-align:justify ; */
    /* font-size: 19px; */
    color: blue;
}