a:link{
    background: blue;
    
}

a:visited{
    color: green;
}

#About{
    text-align: center;
    
}

#one{
    background: black;
    height: 25px;
    padding: 20px;
}

a{
    color: white;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    margin-left: 10px;
    
}

#non{
    background: blue;
    color: green;
    width:20%;
    padding: 10px;
    border-radius: 10px;
    cursor:pointer;
    margin-left: 10px;
    
    
    
}

a:hover{
    background: black;
    color: red;
}

#non:hover{
    background: black;
    color: red;
}